<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MEALABS</title>
    </head>
    <body>
        <h1>MEALABS</h1>
        <div>
            <h2>Temperature/Humidty Sensor:</h2>
            <p id="device_type">Device Type: </p>
            <p id="device_name">Device Name: </p>
            <p id="connection_type">Connection Type: </p>
            <p id="temp_data">Temperature: </p>
            <p id="humid_data">Humidity: </p>
            <p id="time_stamp">Time Stamp: </p>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>